@use 'colors' as *;
@use 'sass:string';

$colors: (
  general: (
    primary: $primary,
  ),
  header: (
    background-header: $background-header,
    color-header-border: $color-header-border,
  ),
  body: (
    background-body: $background-body,
    color-body: $color-body,
  ),
  sidebar: (
    background-sidebar: $background-sidebar,
    color-sidebar-border: $color-sidebar-border,
    color-sidebar: $color-sidebar,
  ),
  main: (
    background-main-content: $background-main-content,
  ),
  text: (
    color-head: $color-head,
    color-text: $color-text,
  ),
  icon: (
    color-icon: $icon-color,
  ),
  audio-controls: (
    main-audio-controls: $main-audio-controls,
    main-audio-controls-separate: $main-audio-controls-separate,
    secondary-audio-controls: $secondary-audio-controls,
  ),
);

$colors--dark: (
  header: (
    background-header: $background-header--dark,
    color-header-border: $color-header-border--dark,
  ),
  body: (
    background-body: $background-body--dark,
    color-body: $color-body--dark,
  ),
  sidebar: (
    background-sidebar: $background-sidebar--dark,
    color-sidebar-border: $color-sidebar-border--dark,
  ),
  main: (
    background-main-content: $background-main-content--dark,
  ),
  text: (
    color-head: $color-head--dark,
    color-text: $color-text--dark,
  ),
  icon: (
    color-icon: $icon-color--dark,
  ),
  audio-controls: (
    main-audio-controls: $main-audio-controls--dark,
    main-audio-controls-separate: $main-audio-controls-separate--dark,
    secondary-audio-controls: $secondary-audio-controls--dark,
  ),
);

:export {
  @each $group, $colors in $colors {
    @each $name, $color in $colors {
      #{ string.unquote($group + '--' + $name) }: $color;
    }
  }
}
