$primary: #E11E4A;

$background-body: #fafafa;                                        $background-body--dark: #000;
$color-body: #707070;                                             $color-body--dark: #fff;
$color-body-secondary: #707070;                                   $color-body-secondary--dark: #aaa;
$color-link: $primary;                                            $color-link--dark: #fff;

$background-header: #fff;                                         $background-header--dark: #333;
$color-header-border: #f5f5f5;                                    $color-header-border--dark: transparent;

$background-sidebar: #fff;                                        $background-sidebar--dark: #333;
$color-sidebar-border: #f5f5f5;                                   $color-sidebar-border--dark: transparent;
$color-sidebar: #707070;                                          $color-sidebar--dark: #fff;
$color-sidebar-hover: $primary;
$background-sidebar-item-hover: rgba(225, 30, 74, 0.05);
$background-sidebar-item-active: $primary;
$color-sidebar-item-active: #fff;

$icon-color: #707070;                                             $icon-color--dark: #fff;
$icon-color-primary: $primary;                                    $icon-color-primary--dark: #aaa;

$background-main-content: #FFFFFF;                                $background-main-content--dark: rgba(255, 255, 255, 0.2);
$box-shadow-main-content: 0px 2px 8px 0px rgba(0, 0, 0, 0.04);

$color-head: #191717;                                             $color-head--dark: #FFFFFF;
$color-text: #707070;                                             $color-text--dark: #FFFFFF;

$main-audio-controls: $primary;                                   $main-audio-controls--dark: #AAAAAA;
$main-audio-controls-separate: rgba(112, 112, 112, 0.5);          $main-audio-controls-separate--dark: #AAAAAA;
$secondary-audio-controls: #707070;                               $secondary-audio-controls--dark: #AAAAAA;

$cover-placeholder-bg: rgba(225, 30, 74, 0.05);                   $cover-placeholder-bg--dark: rgba(170, 170, 170, 0.5);
$cover-placeholder-icon-color: #E11E4A;                           $cover-placeholder-icon-color--dark: #FFFFFF;

$background-card: #fff;                                           $background-card--dark: #333;

$background-start-skeleton: #ddd;                                 $background-start-skeleton--dark: #444;
$background-end-skeleton: #eee;                                   $background-end-skeleton--dark: #555;


