@use 'colors' as *;
@use 'sass:string';

$colors: (
  general: (
    primary: $primary,
  ),
  header: (
    background-header: $background-header,
    color-header-border: $color-header-border,
  ),
  body: (
    background-body: $background-body,
    color-body: $color-body,
    color-body-secondary: $color-body-secondary,
  ),
  sidebar: (
    background-sidebar: $background-sidebar,
    color-sidebar-border: $color-sidebar-border,
    color-sidebar: $color-sidebar,
  ),
  main: (
    background-main-content: $background-main-content,
    color-link: $color-link,
  ),
  text: (
    color-head: $color-head,
    color-text: $color-text,
  ),
  icon: (
    color-icon: $icon-color,
  ),
  audio-controls: (
    main-audio-controls: $main-audio-controls,
    main-audio-controls-separate: $main-audio-controls-separate,
    secondary-audio-controls: $secondary-audio-controls,
  ),
  cover-placeholder: (
    cover-placeholder-bg: $cover-placeholder-bg,
    cover-placeholder-icon-color: $cover-placeholder-icon-color,
  ),
  card: (
    background-card: $background-card,
  ),
  skeleton: (
    background-start-skeleton: $background-start-skeleton,
    background-end-skeleton: $background-end-skeleton,
  ),
  progress-slider: (
    progress-slider-bg: $progress-slider-bg,
    progress-slider-progess: $progress-slider-progess,
    progress-slider-on-header-bg: $progress-slider-on-header-bg,
    progress-slider-on-header-progess: $progress-slider-on-header-progess,
  ),
);

$colors--dark: (
  header: (
    background-header: $background-header--dark,
    color-header-border: $color-header-border--dark,
  ),
  body: (
    background-body: $background-body--dark,
    color-body: $color-body--dark,
    color-body-secondary: $color-body-secondary--dark,
  ),
  sidebar: (
    background-sidebar: $background-sidebar--dark,
    color-sidebar-border: $color-sidebar-border--dark,
    color-sidebar: $color-sidebar--dark,
  ),
  main: (
    background-main-content: $background-main-content--dark,
    color-link: $color-link--dark,
  ),
  text: (
    color-head: $color-head--dark,
    color-text: $color-text--dark,
  ),
  icon: (
    color-icon: $icon-color--dark,
  ),
  audio-controls: (
    main-audio-controls: $main-audio-controls--dark,
    main-audio-controls-separate: $main-audio-controls-separate--dark,
    secondary-audio-controls: $secondary-audio-controls--dark,
  ),
  cover-placeholder: (
    cover-placeholder-bg: $cover-placeholder-bg--dark,
    cover-placeholder-icon-color: $cover-placeholder-icon-color--dark,
  ),
  card: (
    background-card: $background-card--dark,
  ),
  skeleton: (
    background-start-skeleton: $background-start-skeleton--dark,
    background-end-skeleton: $background-end-skeleton--dark,
  ),
  progress-slider: (
    progress-slider-bg: $progress-slider-bg--dark,
    progress-slider-progess: $progress-slider-progess--dark,
    progress-slider-on-header-bg: $progress-slider-on-header-bg--dark,
    progress-slider-on-header-progess: $progress-slider-on-header-progess--dark,
  ),
);

:export {
  @each $group, $colors in $colors {
    @each $name, $color in $colors {
      #{ string.unquote($group + '--' + $name) }: $color;
    }
  }
}
