@use 'variables' as *;
@use 'mixins' as *;

h1, .h1 {
  font: 600 28px $font-family-base;
  line-height: $font-line-height-base;
  color: var(--color-head);
  margin-bottom: 32px;
  @include media-breakpoint-down(lg) {
    font-size: 22px;
  }
}

h2, .h2 {
  font: 600 20px $font-family-base;
  line-height: $font-line-height-base;
  color: var(--color-head);
  margin-bottom: 12px;
}

h3, .h3 {
  font: 600 18px $font-family-base;
  line-height: $font-line-height-base;
  color: var(--color-head);
  margin-bottom: 12px;
}
 h4, .h4 {
   font: 500 16px $font-family-base;
   line-height: $font-line-height-base;
   color: var(--color-head);
   margin-bottom: 8px;
 }
// h5, .h5 {}
