$color-white: #fff;
$color-white-rgba-20: rgba(255, 255, 255, 0.2);

$color-grey: #f5f5f5;
$color-grey-1: #fafafa;
$color-grey-2: #333;
$color-grey-3: #707070;

$color-black: #000;
$color-black-1: #191717;

