@use "reset";
@use "fonts";
@use "grid";
@use "card";
@use "title";
@use 'vue3-toastify/dist/index.css';

body {
  font-weight: $font-weight-base;
  font-size: $font-size-base;
  line-height: $font-line-height-base;
  font-family: $font-family-base;
  background-color: var(--background-body);
  color: var(--color-body);
}
a {
  &.text-link {
    color: var(--color-link);
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: all 0.2s linear;
    &:hover {
      text-decoration-color: var(--color-link);
    }
  }
}
.breadcrumbs {
  margin-bottom: 25px;
}
