@use "mixins";
@use "reset";
@use "fonts";
@use "colors" as *;
@use "grid";
@use "title";

body {
  font-weight: $font-weight-base;
  font-size: $font-size-base;
  line-height: $font-line-height-base;
  font-family: $font-family-base;
  color: $light-text-color;
  background-color: $light-bg;
  @include dark {
    background-color: $dark-bg;
    color: $dark-text-color;
  }
}
