@use "colors" as *;

$font-family-base: 'Metropolis', sans-serif;
$font-size-base: 16px;
$font-weight-base: 400;
$font-line-height-base: 1;

$light-text-color: $color-black-1;
$light-bg: $color-grey-1;

$dark-text-color: $color-white;
$dark-bg: $color-black;

